*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif';
}

body{
    width: 80%;
    margin: 20px auto;
}

header{
    border-bottom: 20px solid grey;
    padding-bottom: 2px;
}

footer{
    border-top: 20px solid grey;
    padding-bottom: 2px;
}